/*This CSS3 style sheet servesas a local style sheet for about.htm.

  Designed by: Michael Costa
  On:12-13-2015
*/


section{
     font-family:ebrima;
     font-weight:bold;
     color:black;
     background-color:none;
     text-align:center;
}